*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 400px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg);

}
.navbar-collapse{
    flex-grow: 0 !important;
}
.duyme{
    border-radius: 2rem !important;
    background-color: #f4623a !important;
}
.duyme:hover{
    background-color: #c34e2e !important;
}
.bir{
    background-color: #f4623a;
    padding: 50px 0px;
}
.basla{
    background-color: white !important;
    border-radius: 2rem !important;
}
.basla:hover{
    background-color: silver !important;
}
hr{
    background-color: white !important;
    color: white !important;
}

    