*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.divler{
    width: 100%;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.div1{
    width: 20%;
    height: 200px;
    background-color: aqua;
}
.div1 img{
    width: 100%;
}
.div1 h1{
    font-size: 25px;
}
.ust{
    width: 100%;
    background-color: bisque;
    display: none;
    position: relative;
    padding-top: 50px;
}
.ust img{
    width: 30%;
    display: block;
    margin: auto;
}
.ag{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.alt{
    width: 20%;
}
.alt img{
width: 80%;
}
.fa-x{
    font-size: 30px;
    color: black;
    position: absolute;
    right: 2%;
    top: 2%;
}
    

    