


.navbar{
    width: 100%;
    height: 150px;
    background-color: aqua;
    padding: 10px 20px;
}
i{
    font-size: 25px;
    color: black;
    
}
ul{
    display: none;
    transition: 1.2s;
}
.seyfe{
    display: block;
}
