.divler{
    width: 30%;
    height: 400px;
    background-color: bisque;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.div1{
    width: 30%;
    height: 80px;
    background-color: aqua;
    
}
.div1 img{
width: 60%;
margin-left: 25px;
margin-top: 10px;
}
