body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

}

div{
    width: 120px;
    height: 120px;
    background: aqua;
    margin: 50px;
    animation: turning 2s ease-out 1s infinite alternate;
}

div:hover {
    animation-play-state: paused;
}

@keyframes turning {
    0% {
        border-radius: 0 0 0 0;
        transform: rotate(0deg);
        
    }
    25% {
        border-radius: 50% 0 0 0;
        transform: rotate(45deg);

    }
    50% {
        border-radius: 50% 50% 0 0;
        transform: rotate(90deg);

    }
    75% {
        border-radius: 50% 50% 50% 0;
        transform: rotate(135deg);

    }
    100% {
        border-radius: 50% 50% 50% 50%;
        transform: rotate(180deg);

    }
}