*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sekil{
    width: 30%;
    margin: 100px auto;
    position: relative;
}
.sekil img{
    width: 50%;
}
.saat{
    width: 5px;
    height: 60px;
    background-color: black;
    position: absolute;
    top: 35%;
    left: 25%;
    transform-origin: bottom;
    transition: 1s;
}
.deqiqe{
    width: 5px;
    height: 70px;
    background-color: cyan;
    position: absolute;
    top: 31%;
    left: 25%;
    transform-origin: bottom;
}
.saniye{
    width: 5px;
    height: 70px;
    background-color: crimson;
    position: absolute;
    top: 30%;
    left: 25%;
    transform-origin: bottom;
}