*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divler{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.div1{
    width: 34%;
   
}
.div1 img{
    width: 55%;
}

.ust{
    width: 100%;
    height: 400px;
    display: none;
}
.ust img{
    width: 50%;
    margin: 40px auto;
    display: block;
}

