.div1{
    width: 200px;
    height: 200px;
    background-color: brown; 
}
.div2{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}
.bir{
    width: 80px;
    height: 30px;
    
}
.iki{
    width: 80px;
    height: 30px;
}