section{
    background-color: aqua;
    text-align: center;
}
section hr{
    width: 5%;
    height: 2px;
    background-color: red;
    border: none;
}
.items{
    width: 80%;
    background-color: orange;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.item{
    width: 20%;
    height: 200px;
    background-color: bisque;
padding: 0px;
}
.item i{
    padding: auto;
    font-size: 30px;

   
}

