
table tr{
font-size: 10px;
}
.add{
   font-size: 5px;
   margin-left: 190px;  
   margin-bottom: 10px;
}
#one{
    margin-right: 8px;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    font-size: 12px;
    padding: 1px;
}
#two{
    color: white;
    background-color: crimson;
    border: 2px solid crimson;
    font-size: 12px;
    padding: 1px;
}
input{
    display: block;
    margin: 10px auto;
   
}
.div1{
   width: 100px;
   height: 100px;
   text-align: center;
   margin: auto;
   padding: 50px 0px;
}
.cr{
    width: 170px;
}
.fa-x{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    
}
.qara{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
    position: relative;
}