*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 700px;
    background-image: url(https://themespacial.netlify.app/assets/img/unsplash/26.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.TASK10{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}
.TASK10 a{
    text-decoration: none;
    color: white;
}
.TASK10 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TASK10 ul li{
    list-style-type: none;
    padding-left: 50px;
}
.t1{
    background-color: dodgerblue;
    width: 40px;
    height: 30px;
    border-radius: 0.3rem;
    padding: 10px 10px;
    transition: 0.7s;
}
.t1:hover{
    background-color: darkblue;
}
.task10{
    width: 50%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.t10{
    text-align: center;
    color: white;
}
.t10 h1{
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.page{
    font-size: 20px;
    margin-bottom: 60px;
}
.t10 a{
    color: white;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 20px 20px;
    border-radius: 1.8rem;
    margin-top: 12px;
    display: inline-block;
    transition: 0.5s;
}
.t10 a:hover{
    background-color: darkblue;
    margin-top: 0px;
}
.divler{
    width: 100%;
    height: 600px;
    padding-top: 50px;
}
.p1{
    text-align: center;
    margin-bottom: 30px;
    color: deepskyblue;
}
 
.DIV{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 80px;
}
.div1{
    width: 40%;
    height: 300px;
}
.div1 h1{
    margin-bottom: 30px;
    margin-top: 30px;
}
.div1 p{
    color: silver;
    font-size: 18px;
}
.div2{
    width: 50%;
    height: 300px;
}
.NAN{
    width: 100%;
    height: 500px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
}
.nan1{
    width: 50%;
    height: 400px;
}
.nan2{
    width: 50%;
    height: 400px; 
    margin-left: 180px;
}
.nan2 h1{
    margin-top: 15px;
    margin-bottom: 30px;
}
.nan2 p{
    font-size: 18px;
    color: dimgray;
}
.tetbiq{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
}
.tetbiq1{
    width: 50%;
    height: 400px;
    margin-left: 80px;
}
.tetbiq1 h1{
    margin-top: 15px;
    margin-bottom: 25px;
}
.tetbiq1 p{
    font-size: 18px;
    color: #8fa2bf ;
}
.tetbiq2{
    width: 50%;
    height: 400px;
    margin-left: 200px; 
}
.BDU{
    width: 100%;
    background-color: darkblue;
}
.pp{
    text-align: center;
    color: white;
    padding-top: 50px;
}
.hh{
    text-align: center;
    color: white;
    margin-bottom: 40px;
    margin-top: 18px;
}
.bdu{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.bdu p{
    color: #8fa2bf;
    font-size: 19px;
}
.ders1{
    width: 22%;
    height: 400px;
    background-color: aliceblue;
    padding: 40px 45px;
    border-radius: 0.6rem;
}
.icon{
    color: yellow;
    margin-top: 20px;
}
.sekil{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sekil img{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin-right: 10px !important;
}
.sekil h1{
    font-size: 18px;
}
.sekil p{
    font-size: 16px;
}
.soz{
    margin-right: 50px !important;
}
.ders2{
    width: 22%;
    height: 350px;
    background-color: white;
    padding: 40px 45px;
    border-radius: 0.6rem;
    margin-bottom: 55px;
}

.ders3{
    width: 22%;
    height: 450px;
    background-color: white;
    padding: 40px 45px;
    border-radius: 0.6rem;
    margin-top: 42px;
}
.big{
    width: 100%;
    background-color: white;
    padding-top: 20px;
}
.st{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.pc{
    text-align: center;
    font-size: 18px;
}
.small{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
    flex-wrap: nowrap;
}
.s1{
    width: 30%;
    height: 400px;
    background-color: silver;
    padding: 20px ;
}
.star{
    text-align: center;
    margin-bottom: 10px;
    font-size: 23px;
}
.moon{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
}
.flex p{
    margin-left: 15px;
}
.s1 a{
    text-decoration: none;
    color: #2083fe;
    background-color: #e9f3ff;
    padding: 10px 10px;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    border-radius: 0.6rem;
    margin-top: 14px;
    display: inline-block;
    transition: 1s;
}
.s1 a:hover{
    margin-top: 0px;
}
.four{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px;
}
.f1{
    width: 40%;
    margin-top: 30px;
}
.f1 h1{
    margin-bottom: 15px;
    color: #2083fe;
}
.f1 p{
    font-size: 19px;
    color: #8fa2bf;
}
.son{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 250px;
}
.son h1{
    font-size: 40px;
}
.a1{
    text-decoration: none;
    color: white;
    background-color: darkblue;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 0.4rem;
    margin-top: 12px;
    display: inline-block;
    transition: 0.5s;
}
.a1:hover{
    margin-top: 0px;
}
.a2{
    text-decoration: none;
    color: #2083fe;
    background-color: #8fa2bf;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 0.4rem;
    margin-top: 12px;
    display: inline-block;
    transition: 0.5s;
}
.a2:hover{
    margin-top: 0px;
}
footer{
    width: 100%;
    background-color: darkblue;
}
.TEAM{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}
.team{
    width: 20%;
    margin-top: 100px;
    
}
.team h1{
    text-align: center;
    color: #2083fe;
    font-size: 18px;
    margin-bottom: 20px;
}
.team a{
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    display: block !important;
    text-align: center;
}
.sayt{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.top{
    font-size: 25px;
    color: darkblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px !important;
    background-color: white;
    margin-bottom: 60px;

}
.s{
    width: 40%;
    text-align: center;
    margin-bottom: 480px;
}
.s p{
    color: #8fa2bf;
    font-size: 18px;
    margin-bottom: 5px;
}
.bottom{
    text-decoration: none;
    color: #8fa2bf;
    font-size: 16px;
    margin: 0px 10px;
}
.P{
    font-size: 15px !important;
    color: #8fa2bf;
    margin-top: 20px;
}
