* {
    margin: 0;
    padding: 0;
}

.Start {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.NavBar {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;

}

.NavBar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

li a {
    color: aliceblue;
    text-decoration: none;
}

.NAN {
    width: 100%;
    height: 700px;
    background-color: rgba(255, 166, 0, 0.732);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.boyuk {
    width: 60%;
    height: 600px;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.item1 {
    width: 40%;
    background-color: white;
    text-align: center;
    font-size: large;

}

.item2 {
    width: 50%;
    height: 250px;
    background-color: white;
}

.kicik {
    width: 25%;
    height: 630px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.items {
    width: 100%;
    text-align: center;
}

.items img {
    width: 70%;
    height: 70px;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.item3 {
    width: 30%;
}

.item3 ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item3 ul li{
    text-decoration: none;
    list-style-type: none;
}
.item4 a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
