*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
header{
    width: 100%;
    height: 800px;
    padding-top: 60px;
}
.first{
    text-align: center;
    color: chocolate;
}
.top{
    text-align: center;
    font-size: 80px;
    color: burlywood;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: rgba(47, 23, 15, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    margin: 0px 40px;
}
.navbar a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.navbar a:hover{
    color: gray;
}