*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.divler{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 30px;
}
.div1{
    width: 20%;
}
.div1 img{
    width: 100%;
}
.div1 h1{
    font-size: 20px;
    margin-top: 5px;
}
.div1 p{
    font-size: 16px;
}
.div2{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
    display: none;
    position: absolute;
    top: 0;
    background-color: antiquewhite;
}
.div2 img{
    width: 50%;
}
.div3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
}

.div3 img{
    width: 20%;
}