


.big{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 0px;
}

.div1{

    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0px 10px;
    font-size: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0px 10px;
    font-size: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 0px 10px;
    font-size: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}