.boyuk{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.NaN{
    width: 70%;
    padding: 10px;
    background-color: brown;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.item{
    width: 30%;
    height: 200px;
    background-color: aqua;
    margin-top: 10px;
    text-align: center;
}
.items{
    width: 25%;
    height: 430px;
padding: 10px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.Task{
    width: 40%;
    height: 100px;
    background-color: aquamarine;
    margin-top: 10px;
    text-align: center;
}
