*{
    padding: 0%;
    margin: 0%;
}
.TASK5{
    width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.TASK5 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.TASK5 ul li{
    list-style-type: none;

}
.TASK5 ul li a{
    text-decoration: none;
    color: black;
}
.Sing{
    background-color: blue;
    padding: 20px 12px;
    border-radius: 20%;
    color: white!important;
}
.TASK{
    width: 100%;
    height: 70vh;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.task1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    font-size: large;
    margin-bottom: 10px;
}
.task1 h1{
    color: white;
    margin-bottom: 20px;
   
}
input{
    width: 75%;
    height: 40px;
    border-radius: 0.5rem;

}
button{
    width: 20%;
    padding: 10px;
    background-color: aqua;
    border-radius: 0.5rem;
}
.TASK2{
    width: 100%;
    height: 40vh;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.t1{
    width: 30%;
    text-align: center;

}
.t1 p{
    font-size: 22px;
}
.t1 i{
    font-size: 30px;
}