

.div1{
    width: 60%;
    height: 300px;
    background-color: red;
    margin:100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 20%;
    height: 30px;
}

.fa-eye-slash{
    display: none;
}