*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
header{
    width: 100%;
    height: 800px;
    padding-top: 60px;
}
.first{
    text-align: center;
    color: chocolate;
}
.top{
    text-align: center;
    font-size: 80px;
    color: burlywood;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgba(47, 23, 15, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    margin: 0px 40px;
}
.navbar a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.navbar a:hover{
    color: gray;
}
.divler{
    width: 100%;
    padding-top: 60px;

}
.div1{
    width: 30%;
    height: 150px;
    background-color: bisque;
    padding: 40px 40px;
    border-radius: 0.4rem;
    position: absolute;
    right: 5%;
    top: 55%;
}
.div1 h1{
    font-size: 20px;
}
.div1 p{
    font-size: 40px;
}
.div2{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.div2 img{
    width: 100%;
    border-radius: 0.4rem;
}
.div3{
    width: 50%;
    height: 180px;
    background-color: bisque;
    border-radius: 0.4rem;
    position: absolute;
    top: 170%;
    left: 5%;
    padding: 40px 40px;
}
.div3 p{
    font-size: 18px;
}
.task{
    width: 100%;
    padding-top: 400px;
    position: relative;
}
.t1{
    width: 40%;
    height: 150px;
    background-color: bisque;
    position: absolute;
    left: 5%;
    padding: 50px 30px;
    border-radius: 0.4rem;
}
.t1 h1{
    font-size: 18px;
}
.t1 p{
    font-size: 40px;
}
.t2{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.t2 img{
    width: 100%;
    border-radius: 0.4rem;
}
.t3{
    width: 50%;
    height: 150px;
    background-color: bisque;
    border-radius: 0.4rem;
    padding: 40px 40px;
    position: absolute;
    right: 5%;
    bottom: 0;
   
    
}
.t3 p{
    font-size: 18px;
}
.tt1{
    width: 40%;
    height: 150px;
    background-color: bisque;
    position: absolute;

    right: 5%;
    padding: 50px 30px;
    border-radius: 0.4rem;
}
.tt1 h1{
    font-size: 18px;
}
.tt1 p{
    font-size: 40px;
}
.tt3{
    width: 50%;
    height: 150px;
    background-color: bisque;
    border-radius: 0.4rem;
    padding: 40px 40px;
    position: absolute;
    left: 5%;
    bottom: 0;
}
.tt3 p{
    font-size: 18px;

}
footer{
    width: 100%;
    height: 100px;
    background-color: rgba(47, 23, 15, 0.9);
    text-align: center;
    padding-top: 43px;
    margin-top: 200px;
}
footer p{
    font-size: 15px;
    color: bisque;
}