*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 500px;
    text-align: center;
}

select {
    width: 150px;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

select:focus{
    border: 1px solid #4a90e2;
    box-shadow: 0px 0px 4px #1075e8;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background: #4a90e2;
    color: white;
}