body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.todo-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* title */
.title {
    text-align: center;
    margin-bottom: 15px;
}

/* input area */
.input-box {
    display: flex;
    gap: 10px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.add-btn {
    padding: 10px 15px;
    border: none;
    background: #4a90e2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.add-btn:hover {
    background: #357ac9;
}

/* list */
.todo-list {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.todo-list li {
    background: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

/* RESPONSIVE */
@media (max-width: 500px) {
    .todo-container {
        width: 90%;
    }

    .input-box {
        flex-direction: column;
    }

    .add-btn {
        width: 100%;
    }
}